git+https://github.com/huggingface/diffusers@7ea065c5070a5278259e6f1effa9dccea232e62a
lycoris-lora==1.8.3
python-dotenv
oyaml
controlnet_aux==0.0.10
k-diffusion
open_clip_torch
optimum-quanto==0.2.4
bitsandbytes
lpips
OpenAI
google-genai
flash_attn